:root{
    /* ===== Colors ===== */
    --body-color: #eee;
    --sidebar-color: #FFF;
    --primary-color: #f7a072;
    --primary-color-light: #0fa3b1;
    --toggle-color: #DDD;
    --text-color: #555d50;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:var(--body-color);
    margin: 0;
    padding: 20px;
    position: relative;
    padding-top: 15px;
    height:90vh;
}

.video-container {
    position: relative;
    display:block;
    height:90vh;
    width: 100%;
}
.back {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    background-color: var(--primary-color-light);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    align-content: center;
}
.back:hover,
.back:focus {
    background-color:var(--primary-color);
    text-decoration: none;
}
video {
    width: 100%;
    height:fit-content;
    max-width: 90%;
   
}